{% extends 'base.html'%}
{% block timer %}
<!-- START TIMER -->
<header>
    <!-- HEADLINE -->
    <h1 data-animated="GoIn"><b>WELCOME</b>...</h1>
</header>
<div id="timer" data-animated="FadeIn">
    <p id="message">The best place to meet people and share your ideas with others.</p>
</div>
{% endblock %}
{% block main %}

<h4>Sign in to get started: <a href="/login/" style="color:rgb(215, 200, 253)">Sign In</a></h4>
<h4>Haven't Have an account?<br> Sign up for free <a href="/signup/" style="color:rgb(215, 200, 253)">Sign Up</a></h4>

{% endblock %}

